.add-phone-form {
    padding: 10% 2rem 10% 2rem;
    border: 1px solid #000;
    border-radius: 0.1rem;
}

form {
    width: 70%;
    margin: auto;
    margin-top: 10%;
}

.form-title {
    margin: 1rem;
    font-size: 1.5rem;
}

.form-buttons {
    width: 70%;
    margin: 1rem auto;
}