.display-box {
    width: 80%;
    margin: auto;
    margin-top: 10%;
}

/* Button */
#new-phone-button {
    margin-top: auto;
    margin-bottom: 0.5rem;
    margin-left: 0.5rem;
    margin-right: auto;
}